.boss
	.boss__pic
		img(src='static/img/pic-Alina.jpg', alt='изображение').boss__img
	.boss__content
		h3.boss__title АЛИНА <br> ГИЗАТУЛЛИНА
		strong.boss__subtitle ДИПЛОМИРОВАННЫЙ СТИЛИСТ И БРА-ФИТТЕР
		.boss__text
			p.boss__desc Поможет Вам преобразиться, сделав Вашу жизнь комфортнее благодаря красивому и правильно подобранному белью. Для записи на бра-фиттинг лично к Алине позвоните по телефону +7 (495) 545-47-63
