.jumbo
	.jumbo__pic
		img(src='static/img/jumb-01.jpg', alt='изображение')
	.jumbo__content
		h3.jumbo__title Бра-фиттинг <br> для новых клиентов
		p.jumbo__desc Наши опытные Стилисты обучат Вас правильно подбирать <br> бюстгальтер и соберут Ваш идеальный бельевой гардероб.
.adviser
	.adviser__list
		.adviser__item
			a(href="#").adviser__icon
				i.icon-bra-01
			.adviser__text
				h6.adviser__status у младшего стилиста
				p.adviser__experience стаж 3-6 месяцев
			.adviser__cost
				strong.adviser__price 1 900
					span &#8381;
				a(href="#", data-style="modal-jun").btn__style.js-module записаться
		.adviser__item
			a(href="#").adviser__icon
				i.icon-bra-02
			.adviser__text
				h6.adviser__status у стилиста
				p.adviser__experience стаж 6-12 месяцев
			.adviser__cost
				strong.adviser__price 2 900
					span &#8381;
				a(href="#", data-style="modal-spec").btn__style.js-module записаться
		.adviser__item
			a(href="#").adviser__icon
				i.icon-bra-03
			.adviser__text
				h6.adviser__status у младшего стилиста
				p.adviser__experience стаж более 1 года
			.adviser__cost
				strong.adviser__price 3 900
					span &#8381;
				a(href="#", data-style="modal-yahh").btn__style.js-module записаться
	footer.adviser__footer
		p если вы купили 3 комплекта белья или 5 бюстгалтеров —
			a(href="#").adviser__footer_link   бра-фиттинг бесплатно
