.picking
	.picking__item
		.picking__pic
			img(src='static/img/pic-01.jpg', alt='изображение')
		.picking__content
			.picking__text
				h5.picking__heading Бра-фиттинг для возвращающихся клиентов
				p.picking__desc Мы предлагаем БЕСПЛАТНО воспользоваться сервисом, <br> если вы сделали покупку при первом визите.
			.picking__cost
				strong.picking__price.no-price бесплатно
				a(href='#', data-style="modal-all").btn__style.js-module записаться
	.picking__item
		.picking__pic
			img(src='static/img/pic-02.jpg', alt='изображение')
		.picking__content
			.picking__text
				h5.picking__heading подбор <br> корректирующего белья
				p.picking__desc Наши Стилисты создадут для Вас стройный и подтянутый <br> силуэт, бесплатно при покупке корректирующего белья.
			.picking__cost
				strong.picking__price 1 499
					span &#8381;
				a(href='#', data-style="modal-all").btn__style.js-module записаться
		footer.adviser__footer
			p при покупке корректирующего белья —
				a(href="#").adviser__footer_link   бра-фиттинг бесплатно